
.button {
    width: 100%;
    font: inherit;
    border: 1px solid #005f03;
    background: #73a985;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #0c7630;
    border-color: #005f03;
  }
  
  .button:focus {
    outline: none;
  }

  @media (min-width: 768px) {
    .button {
      width: auto
    }
}