
.button {
    width: 100%;
    font: inherit;
    border: 1px solid #7a3630;
    background: #cf5f54;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #d28a83;
    border-color: #7a3630;
  }
  
  .button:focus {
    outline: none;
  }

  @media (min-width: 768px) {
    .button {
      width: auto
    }
}